In [1]:
import numpy as np
import pandas as pd

In [36]:
df=pd.read_csv("https://github.com/Taj1920/Data-Analysis-Datasets/raw/refs/heads/main/Datasets-Practice/sales_data.csv",encoding='ISO-8859-1')

In [37]:
df

,User_ID,Cust_name,Product_ID,Gender,Age Group,Age,Marital_Status,State,Zone,Occupation,Product_Category,Orders,Amount,Status,unnamed1
0,1002903,Sanskriti,P00125942,F,26-35,28,0,Maharashtra,Western,Healthcare,Auto,1,23952.0,NaN,NaN
1,1000732,Kartik,P00110942,F,26-35,35,1,Andhra Pradesh,Southern,Govt,Auto,3,23934.0,NaN,NaN
2,1001990,Bindu,P00118542,F,26-35,35,1,Uttar Pradesh,Central,Automobile,Auto,3,23924.0,NaN,NaN
3,1001425,Sudevi,P00237842,M,0-17,16,0,Karnataka,Southern,Construction,Auto,2,23912.0,NaN,NaN
4,1000588,Joni,P00057942,M,26-35,28,1,Gujarat,Western,Food Processing,Auto,2,23877.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11246,1000695,Manning,P00296942,M,18-25,19,1,Maharashtra,Western,Chemical,Office,4,370.0,NaN,NaN
11247,1004089,Reichenbach,P00171342,M,26-35,33,0,Haryana,Northern,Healthcare,Veterinary,3,367.0,NaN,NaN
11248,1001209,Oshin,P00201342,F,36-45,40,0,Madhya Pradesh,Central,Textile,Office,4,213.0,NaN,NaN
11249,1004023,Noonan,P00059442,M,36-45,37,0,Karnataka,Southern,Agriculture,Office,3,206.0,NaN,NaN
11250,1002744,Brumley,P00281742,F,18-25,19,0,Maharashtra,Western,Healthcare,Office,3,188.0,NaN,NaN

In [39]:
df.count()

User_ID             11251
Cust_name           11251
Product_ID          11251
Gender              11251
Age Group           11251
Age                 11251
Marital_Status      11251
State               11251
Zone                11251
Occupation          11251
Product_Category    11251
Orders              11251
Amount              11239
Status                  0
unnamed1                0
dtype: int64

In [40]:
df['Status']=df['Status'].fillna("Sucess")

In [41]:
df

,User_ID,Cust_name,Product_ID,Gender,Age Group,Age,Marital_Status,State,Zone,Occupation,Product_Category,Orders,Amount,Status,unnamed1
0,1002903,Sanskriti,P00125942,F,26-35,28,0,Maharashtra,Western,Healthcare,Auto,1,23952.0,Sucess,NaN
1,1000732,Kartik,P00110942,F,26-35,35,1,Andhra Pradesh,Southern,Govt,Auto,3,23934.0,Sucess,NaN
2,1001990,Bindu,P00118542,F,26-35,35,1,Uttar Pradesh,Central,Automobile,Auto,3,23924.0,Sucess,NaN
3,1001425,Sudevi,P00237842,M,0-17,16,0,Karnataka,Southern,Construction,Auto,2,23912.0,Sucess,NaN
4,1000588,Joni,P00057942,M,26-35,28,1,Gujarat,Western,Food Processing,Auto,2,23877.0,Sucess,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11246,1000695,Manning,P00296942,M,18-25,19,1,Maharashtra,Western,Chemical,Office,4,370.0,Sucess,NaN
11247,1004089,Reichenbach,P00171342,M,26-35,33,0,Haryana,Northern,Healthcare,Veterinary,3,367.0,Sucess,NaN
11248,1001209,Oshin,P00201342,F,36-45,40,0,Madhya Pradesh,Central,Textile,Office,4,213.0,Sucess,NaN
11249,1004023,Noonan,P00059442,M,36-45,37,0,Karnataka,Southern,Agriculture,Office,3,206.0,Sucess,NaN
11250,1002744,Brumley,P00281742,F,18-25,19,0,Maharashtra,Western,Healthcare,Office,3,188.0,Sucess,NaN

In [42]:
var={"Age Group":"Age_Group",}
df.rename(columns=var,inplace=True)
df

,User_ID,Cust_name,Product_ID,Gender,Age_Group,Age,Marital_Status,State,Zone,Occupation,Product_Category,Orders,Amount,Status,unnamed1
0,1002903,Sanskriti,P00125942,F,26-35,28,0,Maharashtra,Western,Healthcare,Auto,1,23952.0,Sucess,NaN
1,1000732,Kartik,P00110942,F,26-35,35,1,Andhra Pradesh,Southern,Govt,Auto,3,23934.0,Sucess,NaN
2,1001990,Bindu,P00118542,F,26-35,35,1,Uttar Pradesh,Central,Automobile,Auto,3,23924.0,Sucess,NaN
3,1001425,Sudevi,P00237842,M,0-17,16,0,Karnataka,Southern,Construction,Auto,2,23912.0,Sucess,NaN
4,1000588,Joni,P00057942,M,26-35,28,1,Gujarat,Western,Food Processing,Auto,2,23877.0,Sucess,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11246,1000695,Manning,P00296942,M,18-25,19,1,Maharashtra,Western,Chemical,Office,4,370.0,Sucess,NaN
11247,1004089,Reichenbach,P00171342,M,26-35,33,0,Haryana,Northern,Healthcare,Veterinary,3,367.0,Sucess,NaN
11248,1001209,Oshin,P00201342,F,36-45,40,0,Madhya Pradesh,Central,Textile,Office,4,213.0,Sucess,NaN
11249,1004023,Noonan,P00059442,M,36-45,37,0,Karnataka,Southern,Agriculture,Office,3,206.0,Sucess,NaN
11250,1002744,Brumley,P00281742,F,18-25,19,0,Maharashtra,Western,Healthcare,Office,3,188.0,Sucess,NaN

In [45]:
df['Age_Group']

0        26-35
1        26-35
2        26-35
3         0-17
4        26-35
         ...
11246    18-25
11247    26-35
11248    36-45
11249    36-45
11250    18-25
Name: Age_Group, Length: 11251, dtype: object

In [20]:
df

In [32]:
# how to rename the name of data present in the column

In [44]:
var={"F":"Female",'M':"Male"}
df['Gender']=df['Gender'].map(var)
df

,User_ID,Cust_name,Product_ID,Gender,Age_Group,Age,Marital_Status,State,Zone,Occupation,Product_Category,Orders,Amount,Status,unnamed1
0,1002903,Sanskriti,P00125942,Female,26-35,28,0,Maharashtra,Western,Healthcare,Auto,1,23952.0,Sucess,NaN
1,1000732,Kartik,P00110942,Female,26-35,35,1,Andhra Pradesh,Southern,Govt,Auto,3,23934.0,Sucess,NaN
2,1001990,Bindu,P00118542,Female,26-35,35,1,Uttar Pradesh,Central,Automobile,Auto,3,23924.0,Sucess,NaN
3,1001425,Sudevi,P00237842,Male,0-17,16,0,Karnataka,Southern,Construction,Auto,2,23912.0,Sucess,NaN
4,1000588,Joni,P00057942,Male,26-35,28,1,Gujarat,Western,Food Processing,Auto,2,23877.0,Sucess,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11246,1000695,Manning,P00296942,Male,18-25,19,1,Maharashtra,Western,Chemical,Office,4,370.0,Sucess,NaN
11247,1004089,Reichenbach,P00171342,Male,26-35,33,0,Haryana,Northern,Healthcare,Veterinary,3,367.0,Sucess,NaN
11248,1001209,Oshin,P00201342,Female,36-45,40,0,Madhya Pradesh,Central,Textile,Office,4,213.0,Sucess,NaN
11249,1004023,Noonan,P00059442,Male,36-45,37,0,Karnataka,Southern,Agriculture,Office,3,206.0,Sucess,NaN
11250,1002744,Brumley,P00281742,Female,18-25,19,0,Maharashtra,Western,Healthcare,Office,3,188.0,Sucess,NaN

In [49]:
var=round(df['Age'].mean())
var

35

In [52]:
df['Product_ID']=df['Product_ID'].str.strip('P00')

In [53]:
df

,User_ID,Cust_name,Product_ID,Gender,Age_Group,Age,Marital_Status,State,Zone,Occupation,Product_Category,Orders,Amount,Status,unnamed1
0,1002903,Sanskriti,125942,Female,26-35,28,0,Maharashtra,Western,Healthcare,Auto,1,23952.0,Sucess,NaN
1,1000732,Kartik,110942,Female,26-35,35,1,Andhra Pradesh,Southern,Govt,Auto,3,23934.0,Sucess,NaN
2,1001990,Bindu,118542,Female,26-35,35,1,Uttar Pradesh,Central,Automobile,Auto,3,23924.0,Sucess,NaN
3,1001425,Sudevi,237842,Male,0-17,16,0,Karnataka,Southern,Construction,Auto,2,23912.0,Sucess,NaN
4,1000588,Joni,57942,Male,26-35,28,1,Gujarat,Western,Food Processing,Auto,2,23877.0,Sucess,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11246,1000695,Manning,296942,Male,18-25,19,1,Maharashtra,Western,Chemical,Office,4,370.0,Sucess,NaN
11247,1004089,Reichenbach,171342,Male,26-35,33,0,Haryana,Northern,Healthcare,Veterinary,3,367.0,Sucess,NaN
11248,1001209,Oshin,201342,Female,36-45,40,0,Madhya Pradesh,Central,Textile,Office,4,213.0,Sucess,NaN
11249,1004023,Noonan,59442,Male,36-45,37,0,Karnataka,Southern,Agriculture,Office,3,206.0,Sucess,NaN
11250,1002744,Brumley,281742,Female,18-25,19,0,Maharashtra,Western,Healthcare,Office,3,188.0,Sucess,NaN

In [56]:
df['Cust_name']=df['Cust_name'].str.upper()

In [57]:
df

,User_ID,Cust_name,Product_ID,Gender,Age_Group,Age,Marital_Status,State,Zone,Occupation,Product_Category,Orders,Amount,Status,unnamed1
0,1002903,SANSKRITI,125942,Female,26-35,28,0,Maharashtra,Western,Healthcare,Auto,1,23952.0,Sucess,NaN
1,1000732,KARTIK,110942,Female,26-35,35,1,Andhra Pradesh,Southern,Govt,Auto,3,23934.0,Sucess,NaN
2,1001990,BINDU,118542,Female,26-35,35,1,Uttar Pradesh,Central,Automobile,Auto,3,23924.0,Sucess,NaN
3,1001425,SUDEVI,237842,Male,0-17,16,0,Karnataka,Southern,Construction,Auto,2,23912.0,Sucess,NaN
4,1000588,JONI,57942,Male,26-35,28,1,Gujarat,Western,Food Processing,Auto,2,23877.0,Sucess,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11246,1000695,MANNING,296942,Male,18-25,19,1,Maharashtra,Western,Chemical,Office,4,370.0,Sucess,NaN
11247,1004089,REICHENBACH,171342,Male,26-35,33,0,Haryana,Northern,Healthcare,Veterinary,3,367.0,Sucess,NaN
11248,1001209,OSHIN,201342,Female,36-45,40,0,Madhya Pradesh,Central,Textile,Office,4,213.0,Sucess,NaN
11249,1004023,NOONAN,59442,Male,36-45,37,0,Karnataka,Southern,Agriculture,Office,3,206.0,Sucess,NaN
11250,1002744,BRUMLEY,281742,Female,18-25,19,0,Maharashtra,Western,Healthcare,Office,3,188.0,Sucess,NaN

In [58]:
# How to drop the column.
# How to drop the Row.

In [62]:
df=df.drop(['unnamed1'],axis=1)

In [63]:
df

,User_ID,Cust_name,Product_ID,Gender,Age_Group,Age,Marital_Status,State,Zone,Occupation,Product_Category,Orders,Amount,Status
0,1002903,SANSKRITI,125942,Female,26-35,28,0,Maharashtra,Western,Healthcare,Auto,1,23952.0,Sucess
1,1000732,KARTIK,110942,Female,26-35,35,1,Andhra Pradesh,Southern,Govt,Auto,3,23934.0,Sucess
2,1001990,BINDU,118542,Female,26-35,35,1,Uttar Pradesh,Central,Automobile,Auto,3,23924.0,Sucess
3,1001425,SUDEVI,237842,Male,0-17,16,0,Karnataka,Southern,Construction,Auto,2,23912.0,Sucess
4,1000588,JONI,57942,Male,26-35,28,1,Gujarat,Western,Food Processing,Auto,2,23877.0,Sucess
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11246,1000695,MANNING,296942,Male,18-25,19,1,Maharashtra,Western,Chemical,Office,4,370.0,Sucess
11247,1004089,REICHENBACH,171342,Male,26-35,33,0,Haryana,Northern,Healthcare,Veterinary,3,367.0,Sucess
11248,1001209,OSHIN,201342,Female,36-45,40,0,Madhya Pradesh,Central,Textile,Office,4,213.0,Sucess
11249,1004023,NOONAN,59442,Male,36-45,37,0,Karnataka,Southern,Agriculture,Office,3,206.0,Sucess
11250,1002744,BRUMLEY,281742,Female,18-25,19,0,Maharashtra,Western,Healthcare,Office,3,188.0,Sucess

In [67]:
df.iloc[0,7][0:4]

'Maha'